In [159]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
from firebase import firebase

In [160]:
firebase = firebase.FirebaseApplication('https://ihack-70e99.firebaseio.com/')
moisture = firebase.get('/Moisture',None)
temperature = firebase.get('/Temperature',None)
pred = firebase.get('/Year',None)

print(moisture, temperature, pred)

75 35 2019

In [161]:
df=pd.read_csv("crop.csv")

In [162]:
df.head()

    crop  year  cost
0  WHEAT  2004   5.0
1  WHEAT  2005   5.5
2  WHEAT  2006   8.0
3  WHEAT  2007   7.5
4  WHEAT  2008   8.5

In [163]:
df.tail()

    crop  year   cost
123  TEA  2015  320.0
124  TEA  2016  330.0
125  TEA  2017  350.0
126  TEA  2018  380.0
127  TEA  2019  400.0

In [164]:
g=df.groupby('crop')

In [165]:
print(g)

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x00000207CC5B3CC0>

In [166]:
for crop,crop_df in g:
    print(crop)
    print(crop_df)

COTTON
      crop  year   cost
48  COTTON  2004  13.00
49  COTTON  2005  15.50
50  COTTON  2006  17.22
51  COTTON  2007  18.00
52  COTTON  2008  19.50
53  COTTON  2009  21.00
54  COTTON  2010  21.50
55  COTTON  2011  22.00
56  COTTON  2012  23.76
57  COTTON  2013  25.00
58  COTTON  2014  23.00
59  COTTON  2015  26.50
60  COTTON  2016  22.00
61  COTTON  2017  27.00
62  COTTON  2018  26.00
63  COTTON  2019  28.00
MAIZE
     crop  year   cost
16  MAIZE  2004   5.00
17  MAIZE  2005   7.00
18  MAIZE  2006   6.25
19  MAIZE  2007   7.00
20  MAIZE  2008   8.00
21  MAIZE  2009   7.20
22  MAIZE  2010  10.00
23  MAIZE  2011  10.00
24  MAIZE  2012  11.00
25  MAIZE  2013  12.50
26  MAIZE  2014  13.00
27  MAIZE  2015  14.00
28  MAIZE  2016  12.50
29  MAIZE  2017  11.00
30  MAIZE  2018  18.00
31  MAIZE  2019  20.00
ONION
      crop  year  cost
96   ONION  2004   5.0
97   ONION  2005   7.0
98   ONION  2006   5.0
99   ONION  2007  10.0
100  ONION  2008  12.0
101  ONION  2009  14.5
102  ONION  2010  15.0
103  ONION  2011  17.0
104  ONION  2012  12.0
105  ONION  2013  14.0
106  ONION  2014  18.0
107  ONION  2015  16.0
108  ONION  2016  18.0
109  ONION  2017  20.0
110  ONION  2018  18.0
111  ONION  2019  22.0
PEPPER
      crop  year   cost
64  PEPPER  2004  400.0
65  PEPPER  2005  420.0
66  PEPPER  2006  480.0
67  PEPPER  2007  410.0
68  PEPPER  2008  520.0
69  PEPPER  2009  540.0
70  PEPPER  2010  570.0
71  PEPPER  2011  600.0
72  PEPPER  2012  610.0
73  PEPPER  2013  605.0
74  PEPPER  2014  630.0
75  PEPPER  2015  670.0
76  PEPPER  2016  690.0
77  PEPPER  2017  710.0
78  PEPPER  2018  750.0
79  PEPPER  2019  800.0
PULSES
      crop  year   cost
80  PULSES  2004  49.00
81  PULSES  2005  52.50
82  PULSES  2006  55.70
83  PULSES  2007  53.22
84  PULSES  2008  47.00
85  PULSES  2009  55.00
86  PULSES  2010  62.00
87  PULSES  2011  55.00
88  PULSES  2012  50.00
89  PULSES  2013  52.00
90  PULSES  2014  58.00
91  PULSES  2015  62.00
92  PULSES  2016  65.00
93  PULSES  2017  70.00
94  PULSES  2018  77.00
95  PULSES  2019  80.00
SOYABEAN
        crop  year   cost
32  SOYABEAN  2004  19.00
33  SOYABEAN  2005  22.50
34  SOYABEAN  2006  20.00
35  SOYABEAN  2007  25.00
36  SOYABEAN  2008  25.76
37  SOYABEAN  2009  26.00
38  SOYABEAN  2010  28.00
39  SOYABEAN  2011  29.00
40  SOYABEAN  2012  29.50
41  SOYABEAN  2013  30.00
42  SOYABEAN  2014  33.00
43  SOYABEAN  2015  32.00
44  SOYABEAN  2016  35.00
45  SOYABEAN  2017  39.00
46  SOYABEAN  2018  37.00
47  SOYABEAN  2019  40.00
TEA
    crop  year   cost
112  TEA  2004  250.0
113  TEA  2005  270.0
114  TEA  2006  288.0
115  TEA  2007  290.0
116  TEA  2008  292.0
117  TEA  2009  280.0
118  TEA  2010  300.0
119  TEA  2011  320.0
120  TEA  2012  342.0
121  TEA  2013  330.0
122  TEA  2014  310.0
123  TEA  2015  320.0
124  TEA  2016  330.0
125  TEA  2017  350.0
126  TEA  2018  380.0
127  TEA  2019  400.0
WHEAT
     crop  year  cost
0   WHEAT  2004   5.0
1   WHEAT  2005   5.5
2   WHEAT  2006   8.0
3   WHEAT  2007   7.5
4   WHEAT  2008   8.5
5   WHEAT  2009  10.0
6   WHEAT  2010  12.0
7   WHEAT  2011  12.4
8   WHEAT  2012  14.0
9   WHEAT  2013  13.5
10  WHEAT  2014  15.0
11  WHEAT  2015  16.5
12  WHEAT  2016  17.0
13  WHEAT  2017  20.0
14  WHEAT  2018  18.2
15  WHEAT  2019  19.0

In [167]:
df_cotton=g.get_group('COTTON')
df_maize=g.get_group('MAIZE')
df_onion=g.get_group('ONION')
df_pepper=g.get_group('PEPPER')
df_pulses=g.get_group('PULSES')
df_soyabean=g.get_group('SOYABEAN')
df_tea=g.get_group('TEA')
df_wheat=g.get_group('WHEAT')

In [168]:
pred=np.asarray(2019).reshape(1,-1)

## Cotton

In [169]:
ct=linear_model.LinearRegression()

In [170]:
cot_year = np.asarray(df_cotton['year']).reshape(-1,1)
cot_cost = np.asarray(df_cotton['cost']).reshape(-1,1)

In [171]:
ct.fit(cot_year,cot_cost)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [172]:
cotton_price=ct.predict(pred)

## Maize

In [173]:
mz=linear_model.LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=True)

In [174]:
maz_year = np.asarray(df_maize['year']).reshape(-1,1)
maz_cost = np.asarray(df_maize['cost']).reshape(-1,1)

In [175]:
mz.fit(maz_year,maz_cost)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [176]:
maize_price=mz.predict(pred)

## Onion

In [177]:
on=linear_model.LinearRegression()

In [178]:
on_year = np.asarray(df_onion['year']).reshape(-1,1)
on_cost = np.asarray(df_onion['cost']).reshape(-1,1)

In [179]:
on.fit(on_year,on_cost)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [180]:
onion_price=on.predict(pred)

## Pepper

In [181]:
pp=linear_model.LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=True)

In [182]:
pp_year = np.asarray(df_pepper['year']).reshape(-1,1)
pp_cost = np.asarray(df_pepper['cost']).reshape(-1,1)

In [183]:
pp.fit(pp_year,pp_cost)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [184]:
pepper_price=pp.predict(pred)

## Pulses

In [185]:
pl=linear_model.LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=True)

In [186]:
pl_year = np.asarray(df_pulses['year']).reshape(-1,1)
pl_cost = np.asarray(df_pulses['cost']).reshape(-1,1)

In [187]:
pl.fit(pl_year,pl_cost)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [188]:
pulses_price=pl.predict(pred)

## Soyabean

In [189]:
sb=linear_model.LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=True)

In [190]:
sb_year = np.asarray(df_soyabean['year']).reshape(-1,1)
sb_cost = np.asarray(df_soyabean['cost']).reshape(-1,1)

In [191]:
sb.fit(sb_year,sb_cost)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [192]:
soyabean_price=sb.predict(pred)

## Tea

In [193]:
tea=linear_model.LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=True)

In [194]:
tea_year = np.asarray(df_tea['year']).reshape(-1,1)
tea_cost = np.asarray(df_tea['cost']).reshape(-1,1)

In [195]:
tea.fit(tea_year,tea_cost)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [196]:
tea_price=tea.predict(pred)

## Wheat

In [197]:
wh=linear_model.LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=True)

In [198]:
wh_year = np.asarray(df_wheat['year']).reshape(-1,1)
wh_cost = np.asarray(df_wheat['cost']).reshape(-1,1)

In [199]:
wh.fit(wh_year,wh_cost)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [200]:
wheat_price=wh.predict(pred)

In [201]:
lst=[cotton_price,maize_price,onion_price,pepper_price,pulses_price,soyabean_price,tea_price,wheat_price]

In [204]:
print(moisture, temperature, pred)

75 35 [[2019]]

In [205]:
crops = []

In [206]:
if(moisture > 70 and temperature > 32):
    crops.append("Wheat")
    crops.append("Maize")
    crops.append("Soybean")

    print(crops)
    print("Wheat Price : ")
    print(wheat_price)
    print("Maize Price : " )
    print(maize_price)
    print("Soybeans Price : ")
    print(soyabean_price)

['Wheat', 'Maize', 'Soybean']
Wheat Price :
[[20.12794118]]
Maize Price :
[[16.83602941]]
Soybeans Price :
[[39.21308824]]

In [207]:
if(moisture > 70 and temperature < 32):
    crops.append("Tea")
    crops.append("Cotton")
    
    print(crops)
    
    print("Tea Cost : ")
    print(tea_price)
    print("Cotton Cost : " )
    print(cotton_price)

In [208]:
if(moisture < 70 and temperature < 32):
    crops.append("Black pepper")
    crops.append("Pulses")
    crops.append("Onions")
    print(crops)
    
    print("Pepper Profit : ")
    print(pepper_price)
    print("Pulses Price : " )
    print(pulses_price)
    print("Onions Price : ")
    print(onions_price)